* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  padding: 50px 156px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

a {
  display: block;
  margin-bottom: 20px;
  position: absolute;
  left: 35px;
  top: 20px;
}

.value {
  font-size: 40px;
}

button {
  display: inline-block;
  min-width: 75px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

button[disabled] {
  background-color: #cfcfcf;
  color: #989898;
  cursor: default;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border: 1px solid #000;
}

.timer {
  width: 346px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
